#![enable(implicit_some)]

Scripts(
  list: [
    (
      name: "pywal-cosmic-term",
      description: "Python script to use your pywal generated color palette with cosmic-term",
      repo: "https://github.com/dharmik2319/pywal-cosmic-term",
    ),
    (
      name: "cosmic-ext-window-helper",
      description: "Utility interacting with COSMIC™ Wayland compositor to provide easy scriptable access to toplevel windows, allowing shortcut-triggerable custom actions: run-or-raise, batch hiding or closing...",
      repo: "https://github.com/lapause/cosmic-ext-window-helper",
    )
  ]
)
