#![enable(implicit_some)]

Themes(
  list: [
    (
      name: "catppuccin",
      description: "Soothing pastel theme for COSMIC Desktop Environment",
      repo: "https://github.com/catppuccin/cosmic-desktop",
      image: "https://raw.githubusercontent.com/catppuccin/cosmic-desktop/main/assets/preview.webp"
    ),
    (
      name: "cosmic-themes",
      description: "Website for https://cosmic-themes.org",
      repo: "https://github.com/Fingel/cosmic-themes-org-py",
      image: "https://raw.githubusercontent.com/Fingel/cosmic-themes-org-py/refs/heads/main/static/img/logo.webp"
    ),
    (
      name: "candyfactory-cosmic",
      description: "Dark + light COSMIC themes with matching cosmic-term scheme",
      repo: "https://github.com/BonfireAI/candyfactory-cosmic"
    ),
    (
        name: "cosmic-ext-brand-wallpapers",
        description: "COSMIC™ Brand Wallpapers",
        repo: "https://github.com/cosmic-utils/cosmic-ext-brand-wallpapers",
        image: "https://raw.githubusercontent.com/cosmic-utils/cosmic-ext-brand-wallpapers/main/3840x2160/COSMIC-Dark.png",
    ),
    (
        name: "cosmic-ext-themes",
        description: "My themes for COSMIC.",
        repo: "https://github.com/cosmic-utils/cosmic-ext-themes",
        image: None,
    ),
  ]
)
